<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimTech</display-name>
  <servlet>
    <servlet-name>InstallServlet</servlet-name>
    <servlet-class>service.admin.InstallServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallServlet</servlet-name>
    <url-pattern>/admin/InstallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCompanyServlet</servlet-name>
    <servlet-class>service.admin.CreateCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCompanyServlet</servlet-name>
    <url-pattern>/admin/CreateCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCourierServlet</servlet-name>
    <servlet-class>service.admin.CreateCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCourierServlet</servlet-name>
    <url-pattern>/admin/CreateCourierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateItemServlet</servlet-name>
    <servlet-class>service.admin.CreateItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateItemServlet</servlet-name>
    <url-pattern>/admin/CreateItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateOfficerServlet</servlet-name>
    <servlet-class>service.admin.CreateOfficerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOfficerServlet</servlet-name>
    <url-pattern>/admin/CreateOfficerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateSenderServlet</servlet-name>
    <servlet-class>service.admin.CreateSenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSenderServlet</servlet-name>
    <url-pattern>/admin/CreateSenderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTaskServlet</servlet-name>
    <servlet-class>service.admin.CreateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTaskServlet</servlet-name>
    <url-pattern>/admin/CreateTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCompanyServlet</servlet-name>
    <servlet-class>service.admin.DeleteCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCompanyServlet</servlet-name>
    <url-pattern>/admin/DeleteCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCourierServlet</servlet-name>
    <servlet-class>service.admin.DeleteCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourierServlet</servlet-name>
    <url-pattern>/admin/DeleteCourierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteItemServlet</servlet-name>
    <servlet-class>service.admin.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItemServlet</servlet-name>
    <url-pattern>/admin/DeleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOfficerServlet</servlet-name>
    <servlet-class>service.admin.DeleteOfficerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOfficerServlet</servlet-name>
    <url-pattern>/admin/DeleteOfficerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSenderServlet</servlet-name>
    <servlet-class>service.admin.DeleteSenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSenderServlet</servlet-name>
    <url-pattern>/admin/DeleteSenderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>service.admin.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/admin/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllCompanysServlet</servlet-name>
    <servlet-class>service.admin.GetAllCompanysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCompanysServlet</servlet-name>
    <url-pattern>/admin/GetAllCompanysServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllCouriersServlet</servlet-name>
    <servlet-class>service.admin.GetAllCouriersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCouriersServlet</servlet-name>
    <url-pattern>/admin/GetAllCouriersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllItemsServlet</servlet-name>
    <servlet-class>service.admin.GetAllItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllItemsServlet</servlet-name>
    <url-pattern>/admin/GetAllItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllOfficersServlet</servlet-name>
    <servlet-class>service.admin.GetAllOfficersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllOfficersServlet</servlet-name>
    <url-pattern>/admin/GetAllOfficersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllSendersServlet</servlet-name>
    <servlet-class>service.admin.GetAllSendersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSendersServlet</servlet-name>
    <url-pattern>/admin/GetAllSendersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllTasksServlet</servlet-name>
    <servlet-class>service.admin.GetAllTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTasksServlet</servlet-name>
    <url-pattern>/admin/GetAllTasksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCompanyByIdServlet</servlet-name>
    <servlet-class>service.admin.GetCompanyByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCompanyByIdServlet</servlet-name>
    <url-pattern>/admin/GetCompanyByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCourierByIdServlet</servlet-name>
    <servlet-class>service.admin.GetCourierByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourierByIdServlet</servlet-name>
    <url-pattern>/admin/GetCourierByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetItemByIdServlet</servlet-name>
    <servlet-class>service.admin.GetItemByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItemByIdServlet</servlet-name>
    <url-pattern>/admin/GetItemByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOfficerByIdServlet</servlet-name>
    <servlet-class>service.admin.GetOfficerByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOfficerByIdServlet</servlet-name>
    <url-pattern>/admin/GetOfficerByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSenderByIdServlet</servlet-name>
    <servlet-class>service.admin.GetSenderByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSenderByIdServlet</servlet-name>
    <url-pattern>/admin/GetSenderByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCustomersByCompanyServlet</servlet-name>
    <servlet-class>service.admin.GetCustomersByCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomersByCompanyServlet</servlet-name>
    <url-pattern>/admin/GetCustomersByCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTaskByIdServlet</servlet-name>
    <servlet-class>service.admin.GetTaskByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTaskByIdServlet</servlet-name>
    <url-pattern>/admin/GetTaskByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTasksByCompanyServlet</servlet-name>
    <servlet-class>service.admin.GetTasksByCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTasksByCompanyServlet</servlet-name>
    <url-pattern>/admin/GetTasksByCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCompanyServlet</servlet-name>
    <servlet-class>service.admin.UpdateCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompanyServlet</servlet-name>
    <url-pattern>/admin/UpdateCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCourierServlet</servlet-name>
    <servlet-class>service.admin.UpdateCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourierServlet</servlet-name>
    <url-pattern>/admin/UpdateCourierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateItemServlet</servlet-name>
    <servlet-class>service.admin.UpdateItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateItemServlet</servlet-name>
    <url-pattern>/admin/UpdateItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOfficerServlet</servlet-name>
    <servlet-class>service.admin.UpdateOfficerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOfficerServlet</servlet-name>
    <url-pattern>/admin/UpdateOfficerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSenderServlet</servlet-name>
    <servlet-class>service.admin.UpdateSenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSenderServlet</servlet-name>
    <url-pattern>/admin/UpdateSenderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <servlet-class>service.admin.UpdateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskServlet</servlet-name>
    <url-pattern>/admin/UpdateTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserByUsernameServlet</servlet-name>
    <servlet-class>service.admin.GetUserByUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByUsernameServlet</servlet-name>
    <url-pattern>/admin/GetUserByUsernameServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>