<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/simTech</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.connection.autocommit">false</property>
  <mapping resource="model/Company.hbm.xml"/>
  <mapping resource="model/Courier.hbm.xml"/>
  <mapping resource="model/Item.hbm.xml"/>
  <mapping resource="model/Officer.hbm.xml"/>
  <mapping resource="model/Sender.hbm.xml"/>
  <mapping resource="model/SuperAdmin.hbm.xml"/>
  <mapping resource="model/Task.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
