<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arnold.fypproject" >

    <uses-sdk android:minSdkVersion="16" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature android:name="android.hardware.nfc" android:required="true"/> <!-- ensure only device with nfc can install and view the app -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_teamlogo1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomepageActivity"
            android:label="@string/title_activity_homepage" >
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activity.HomepageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HomepageActivity" />
        </activity>
        <activity
            android:name=".Activity.TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".Activity.HomepageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.arnold.fypproject.Activity.HomepageActivity" />
        </activity>
        <activity
            android:name=".Activity.Test2Activity"
            android:label="@string/title_activity_test2"
            android:parentActivityName=".Activity.HomepageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.arnold.fypproject.Activity.HomepageActivity" />
        </activity>
        <activity
            android:name=".Activity.Test3Activity"
            android:label="@string/title_activity_test3" >
        </activity>
        <activity
            android:name=".Activity.ReadNFCActivity"
            android:label="@string/title_activity_read_nfc"
            android:parentActivityName=".Activity.HomepageActivity" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter"
                android:value="com.example.arnold.fypproject.Activity.HomepageActivity"/>
        </activity>
    </application>

</manifest>
